:root {
    --primary-color: darkblue;
    --border-color: #1c1c1c;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 840px;
    margin: 15px auto;
    border: 1px solid var(--border-color);
    padding: 0 20px 0 20px;
    background-color: #e6f3fe;
    color: #1c1c1c;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 50px;
    border-top: 1px solid var(--border-color) ;
    text-align: center;
}